base-color = rgba(0, 0, 0, 0.75) 
bg-color = ghostwhite
light-gray = #ccc
dark-gray = rgba(0, 0, 0, 0.75)
link-color = #145b9b
accent-color-1 = aliceblue
accent-color-2 = cornsilk
accent-color-3 = honeydew
gutter = 1rem
gutter-big = 2rem
gutter-med = 0.5rem
gutter-small = 0.25rem
gutter-tiny = 0.1rem
screen-med = 64em
screen-small = 45em
screen-real-small = 35em

@font-face
  font-family 'GraphiqueProNext'
  font-style normal
  src url('~/static/fonts/GraphiqueProNext-Comp.otf') 

html
  font-size 125%

body
  font-family 'Rubik', monospace
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  margin gutter 0.5em
  color base-color
  background bg-color

  @media (max-width: screen-small)
    margin 0
    margin-bottom 0.5em

a
  text-decoration-skip ink

a:link
  color link-color

a:visited
  color #478ECE

*:focus
  outline 0.1em solid link-color

[href="#main"]
  position absolute
  top 0
  right 100%

[href="#main"]:focus
  right auto

.button
  background-color link-color
  color bg-color !important
  padding gutter-small gutter
  display inline-block
  border 0
  font-weight 700
  font-family 'Rubik', monospace
  font-size 100%
  text-decoration none

.button--clear
  background-color transparent
  color base-color
  font-weight 500

.page
  margin-left 10%
  margin-right 10%

  @media (max-width: screen-med)
    margin-left 0
    margin-right 0

.header
  font-weight 700
