base-color = #29292E
bg-color = ghostwhite
light-gray = #ccc
dark-gray = rgba(0, 0, 0, 0.75)
link-color = #145b9b
accent-color-1 = aliceblue
accent-color-2 = cornsilk
accent-color-3 = honeydew
gutter = 1rem
gutter-big = 2rem
gutter-med = 0.5rem
gutter-small = 0.25rem
gutter-tiny = 0.1rem
screen-med = 55em
screen-small = 45em
screen-real-small = 35em

@font-face
  font-family 'GraphiqueProNext'
  font-style normal
  src url('~/static/fonts/GraphiqueProNext-Comp.otf') 

@font-face
  font-family 'GraphiqueProNext-Shadow'
  font-style normal
  src url('~/static/fonts/GraphiqueProNext-Shadow.otf') 

@font-face
  font-family 'GraphiqueProNext-Shadow-LN'
  font-style normal
  src url('~/static/fonts/GraphiqueProNext-Shadow-LN.otf') 

@font-face
  font-family 'GraphiqueProNext-Solid'
  font-style normal
  src url('~/static/fonts/GraphiqueProNext-Solid.otf') 

html
  font-size 125%

body
  font-family 'Rubik', monospace
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  margin gutter 0.5em
  color base-color
  background bg-color

  @media (max-width: screen-small)
    margin 0

a
  line-height 1.1em

a:link
  color #145b9b

a:visited
  color #478ECE

a:focus
  outline 0.2em solid goldenrod

[href="#main"]
  position absolute
  top 0
  right 100%

[href="#main"]:focus
  right auto

.button
  background-color #145b9b
  color bg-color !important
  padding gutter-small gutter
  display inline-block
  border 0
  font-weight 700
  font-family 'Rubik', monospace
  font-size 100%

.page
  margin-left 10%
  margin-right 10%

  @media (max-width: screen-med)
    margin-left 5%
    margin-right 5%

  @media (max-width: screen-real-small)
    margin-left 0
    margin-right 0

.header
  font-weight 700
