:root {
  --base-color: black;
  --bg-color: white;
  --accent-color: yellow;
  --gutter: 1em;
  --gutter-small: 0.25em;
}

body {
  font-family: monospace;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: var(--gutter);
}

a {
  color: #0B41D7;
}

a:visited {
  color: #0C88F7;
}

.page {
  display: flex;
  max-width: 45em;
}

.logo {
  font-size: 3em;
  background: var(--base-color);
  color: var(--bg-color);
  padding: 0.5em;
  display: inline-block;
}

.content {
  margin-left: var(--gutter);
}

.header {
  font-weight: 700;
}
