:root {
  --base-color: #29292E;
  --bg-color: white;
  --accent-color: #FFF44C;
  --some-color: #e82a22;
  --gutter: 1em;
  --gutter-small: 0.25em;
}

body {
  font-family: monospace;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: var(--gutter);
}

a:link {
  color: #145b9b;
}

a:visited {
  color: #478ECE;
}

.page {
  display: flex;
  max-width: 45em;
}

.logo {
  font-size: 3em;
  background: var(--base-color);
  color: var(--bg-color);
  padding: 0.5em;
  display: inline-block;
}

.content {
  margin-left: var(--gutter);
}

.header {
  font-weight: 700;
}

@media (max-width: 45em) {

  .page {
    flex-direction: column;
  }

  .content {
    margin-top: var(--gutter);
    margin-left: 0;
  }

}
