:root {
  --base-color: #29292E;
  --bg-color: white;
  --accent-color: #FFF44C;
  --some-color: #e82a22;
  --gutter: 1em;
  --gutter-small: 0.25em;
}

body {
  font-family: monospace;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: var(--gutter);
}

a:link {
  color: #145b9b;
}

a:visited {
  color: #478ECE;
}

.page {
  display: flex;
  max-width: 45em;
}

.logo {
  font-size: 3em;
  background: var(--base-color);
  color: var(--bg-color);
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: #fff !important;
}
.logo-small {
  font-size: 0.75em;
  text-align: center;
  display: none;
}

.content {
  margin-left: var(--gutter);
  flex-grow: 1;
}

.header {
  font-weight: 700;
}

.button {
  background-color: #145b9b;
  color: var(--bg-color) !important;
  padding: var(--gutter-small) var(--gutter);
  display: inline-block;
}

@media (max-width: 45em) {

  body {
    margin: var(--gutter-small);
  }

  .page {
    flex-direction: column;
  }

  .content {
    margin-top: var(--gutter);
    margin-left: 0;
  }


  .logo {
    width: 100%;
  }
  .logo--big {
    display: none;
  }
  .logo-small {
    display: block;
  }

}
